// Colors
$light-yellow: #f8ffe5ff;
$caribbean-green: #06d6a0ff;
$blue-munsell: #1b9aaaff;
$paradise-pink: #ef476fff;
$orange-yellow: #ffc43dff;

/* SCSS HSL */
$light-yellow: hsla(76, 100%, 95%, 1);
$caribbean-green-alpha: hsla(164, 95%, 43%, 0.7);
$blue-munsell-alpha: hsla(187, 73%, 39%, 0.7);
$paradise-pink: hsla(346, 84%, 61%, 1);
$orange-yellow: hsla(42, 100%, 62%, 1);

// Font-sizes
$font-sml: 0.875rem; //14px
$font-med: 1.125rem; //18px
$font-lg: 1.25rem; //20px
$font-xlg: 3.25rem; //52px
